h1 {
  font-size: 300%; }

h3 {
  font-size: 200%; }

h4 {
  font-size: 150%; }

header a {
  float: right;
  margin-top: -34px; }

#sidebar {
  margin-top: 6%; }

#content-area {
  margin-top: 4%; }

#mc_embed_signup {
  margin-top: 30%; }
  #mc_embed_signup label {
    font-size: 130% !important;
    font-weight: normal !important; }
  #mc_embed_signup input[type='email'] {
    width: 100% !important; }
