p {
  font-size: 17px !important;
  font-family: Andada;
  line-height: 26px; }

p#author-and-date {
  font-style: italic;
  font-size: 13px !important; }

h1.post-heading {
  font-size: 42px; }
  h1.post-heading a {
    color: #333333; }
  h1.post-heading a:hover {
    color: #428bca; }

h2 {
  font-size: 28px;
  margin: 5% 0;
  color: #4cb0ff; }

h3 {
  font-size: 200%; }

h4 {
  font-size: 24px; }

header img {
  position: relative;
  top: -4px; }
header a, header a:hover {
  color: #333333;
  text-decoration: none; }
header a.menu-link {
  position: relative;
  left: 790px;
  bottom: 36px;
  padding-right: 16px;
  color: #428bca; }

#sidebar {
  margin-top: 88px;
  margin-left: 40px; }
  #sidebar p, #sidebar button {
    font: 15px Helvetica, Arial !important;
    line-height: 19px !important; }

#content-area {
  margin-top: 4%; }

#mc_embed_signup {
  margin-top: 30%; }
  #mc_embed_signup label {
    font-size: 130% !important;
    font-weight: normal !important; }
  #mc_embed_signup input[type='email'] {
    width: 100% !important; }

#disqus_thread {
  margin-top: 40px; }

footer#copyright-data {
  margin-top: 20px; }
  footer#copyright-data p {
    font-size: 14px !important; }
