h1
  font-size: 300%

h3
  font-size: 200%

h4
  font-size: 150%

header
  a
    float: right
    margin-top: -34px

#sidebar
  margin-top: 6%


#content-area
  margin-top: 4%

// Mail chimp overrides
#mc_embed_signup
  margin-top: 30%
  label
    font-size: 130% !important
    font-weight: normal !important
  input[type='email']
    width: 100% !important
