<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | Velocity Course Managment</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css'>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class='container'>
      <div class="row"> 
        <header class="col-lg-12">
          <h1><img alt="Logo" id="logo" src="/images/logo.gif"> Velocity Blog</h1>
          <a href="http://velocityapp.net">Velocity</a>
          <a href="/">Blog</a>
          <hr>
        </header>
      </div>
